@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  background-color: #F5F7FB;
  font-family: 'Kanit', sans-serif;
  color: #19191D;
}

.hero-heading {
  color: #19191D;
}
